<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

<div id="_progress"></div>

		<header>
		<h2>
		{{ metadata.title }}
		</h2>
			{# <em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em> #}

			{# {% include "components/nav.njk" %} #}
		</header>

		<aside>
  		{{ content | toc | safe }}
		</aside>

		<main>
			{{ content | safe }}
		</main>

		{# {% include "components/footer.njk" %} #}

	</body>

</html>
