<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<div id="_progress"></div>
		<header>
			<img src="/static/img/hero.png" alt="">
			{# <h1>{{ metadata.title }}</h1> #}
			{# <em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em> #}

			{# {% include "components/nav.njk" %} #}
		</header>

		<aside>
  		{{ content | toc | safe }}
		</aside>

		<section>
			{# <aside>
				{{ content | toc | safe }}
			</aside> #}
			<main>
				{{ content | safe }}
			</main>
		</section>



		{# {% include "components/footer.njk" %} #}

  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
	<script>{{ js | jsmin | safe }}</script>
	</body>

</html>
